In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
final_student_data = pd.read_csv("final_student_data.csv")

In [4]:
final_student_data

,Entry Date,Stream Type,Gender,Nationality,Department,Student Name,Caste,Enrollment Id,Graduation Type,Year Of Study,...,Moved Between Department,Is Retained,Has Graduated,CGPA,Has Arrears,State,Rca For Discontinued,Discontinued Flag,Retained Flag,Moved Between Department Flag
0,2017-01-01,SFS,Male,Indian,Tamil,SHARAD RAJ,BC,Student02739,UG,Final Year,...,NaN,NaN,Yes,3.4,Yes,Tamil Nadu,NaN,0,0,0
1,2017-01-01,SFS,Male,Indian,Tamil,SHARADSINGH THAKUR,BC,Student02740,UG,Final Year,...,NaN,NaN,Yes,3.7,Yes,Tamil Nadu,NaN,0,0,0
2,2017-01-01,SFS,Male,Indian,Tamil,SHARAN SHARMA,OBC,Student02741,UG,Final Year,...,NaN,NaN,Yes,7.2,Yes,Tamil Nadu,NaN,0,0,0
3,2017-01-01,SFS,Male,Indian,Tamil,SHARAT KATARIYA,OBC,Student02742,UG,Final Year,...,NaN,NaN,Yes,5.5,Yes,Tamil Nadu,NaN,0,0,0
4,2017-01-01,SFS,Male,Indian,Tamil,SHARAT SAXENA,SC,Student02743,UG,Final Year,...,NaN,NaN,Yes,9.6,NaN,Tamil Nadu,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25090,2018-01-01,SFS,Female,Indian,PET,NEISHA,BC,Student107715,UG,Carry forward students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25091,2018-01-01,SFS,Female,Indian,PET,NERMINA,BC,Student107716,UG,Carry forward students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25092,2018-01-01,SFS,Female,Indian,PET,NETRA,Others,Student107717,UG,Carry forward students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25093,2018-01-01,SFS,Female,Indian,PET,OJASVI,BC,Student107724,UG,Carry forward students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25094,2018-01-01,SFS,Female,Indian,BCA,JWALA,BC,Student107793,UG,Carry forward students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [5]:
final_student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25095 entries, 0 to 25094
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Entry Date                     25095 non-null  object
 1   Stream Type                    25095 non-null  object
 2   Gender                         25095 non-null  object
 3   Nationality                    25095 non-null  object
 4   Department                     25095 non-null  object
 5   Student Name                   25095 non-null  object
 6   Caste                          25095 non-null  object
 7   Enrollment Id                  25095 non-null  object
 8   Graduation Type                25095 non-null  object
 9   Year Of Study                  25095 non-null  object
 10  Hostel                         25095 non-null  object
 11  Discontinued                   155 non-null    object
 12  Moved Between Department       200 non-null    object
 13  Is Retained                    1972 non-null   object
 14  Has Graduated                  6901 non-null   object
 15  CGPA                           24202 non-null  float64
 16  Has Arrears                    18956 non-null  object
 17  State                          23364 non-null  object
 18  Rca For Discontinued           155 non-null    object
 19  Discontinued Flag              25095 non-null  int64
 20  Retained Flag                  25095 non-null  int64
 21  Moved Between Department Flag  25095 non-null  int64
dtypes: float64(1), int64(3), object(18)
memory usage: 4.2+ MB

In [7]:
total_students = final_student_data.shape[0]

# Total number of male students
total_male_students = final_student_data[final_student_data["Gender"] == "Male"].shape[0]

# Total number of female students
total_female_students = final_student_data[final_student_data["Gender"] == "Female"].shape[0]

# Print the results
print("Total number of students: ", total_students)
print("Total number of male students: ", total_male_students)
print("Total number of female students: ", total_female_students)

Total number of students:  25095
Total number of male students:  12902
Total number of female students:  12193

In [9]:
final_student_data["Year Of Study"] = final_student_data["Year Of Study"].str.title()

In [10]:
final_student_data

,Entry Date,Stream Type,Gender,Nationality,Department,Student Name,Caste,Enrollment Id,Graduation Type,Year Of Study,...,Moved Between Department,Is Retained,Has Graduated,CGPA,Has Arrears,State,Rca For Discontinued,Discontinued Flag,Retained Flag,Moved Between Department Flag
0,2017-01-01,SFS,Male,Indian,Tamil,SHARAD RAJ,BC,Student02739,UG,Final Year,...,NaN,NaN,Yes,3.4,Yes,Tamil Nadu,NaN,0,0,0
1,2017-01-01,SFS,Male,Indian,Tamil,SHARADSINGH THAKUR,BC,Student02740,UG,Final Year,...,NaN,NaN,Yes,3.7,Yes,Tamil Nadu,NaN,0,0,0
2,2017-01-01,SFS,Male,Indian,Tamil,SHARAN SHARMA,OBC,Student02741,UG,Final Year,...,NaN,NaN,Yes,7.2,Yes,Tamil Nadu,NaN,0,0,0
3,2017-01-01,SFS,Male,Indian,Tamil,SHARAT KATARIYA,OBC,Student02742,UG,Final Year,...,NaN,NaN,Yes,5.5,Yes,Tamil Nadu,NaN,0,0,0
4,2017-01-01,SFS,Male,Indian,Tamil,SHARAT SAXENA,SC,Student02743,UG,Final Year,...,NaN,NaN,Yes,9.6,NaN,Tamil Nadu,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25090,2018-01-01,SFS,Female,Indian,PET,NEISHA,BC,Student107715,UG,Carry Forward Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25091,2018-01-01,SFS,Female,Indian,PET,NERMINA,BC,Student107716,UG,Carry Forward Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25092,2018-01-01,SFS,Female,Indian,PET,NETRA,Others,Student107717,UG,Carry Forward Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25093,2018-01-01,SFS,Female,Indian,PET,OJASVI,BC,Student107724,UG,Carry Forward Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
25094,2018-01-01,SFS,Female,Indian,BCA,JWALA,BC,Student107793,UG,Carry Forward Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [13]:
final_student_data["Hostel"] = final_student_data["Hostel"].str.title()

In [16]:
final_student_data["Hostel"].unique()

array(['No', 'Yes'], dtype=object)

In [15]:
final_student_data["Hostel"].fillna("Day Scholar", inplace = True)

In [19]:
final_student_data["Hostel"].replace({'No':'Day Scholar', 'Yes': 'Hostel'}, inplace=True)

In [20]:
final_student_data["Hostel"].unique()

array(['Day Scholar', 'Hostel'], dtype=object)

In [21]:
final_student_data.to_csv("final_student_data.csv", index=False)

In [22]:
discontinued = final_student_data[final_student_data["Discontinued Flag"] == 1].shape[0]

# Get the number of students who were retained
retained = final_student_data[final_student_data["Retained Flag"] == 1].shape[0]

# Get the number of students who moved between departments
moved = final_student_data[final_student_data["Moved Between Department Flag"] == 1].shape[0]

print("Number of students who discontinued:", discontinued)
print("Number of students who were retained:", retained)
print("Number of students who moved between departments:", moved)

Number of students who discontinued: 155
Number of students who were retained: 1972
Number of students who moved between departments: 200